<a href="https://colab.research.google.com/github/Chansikan/Python-tutorial/blob/master/Hands_on_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-on Python for machine learning beginners
## Task 1: Variable, Object, type, and operator

### this is third-level heading!

This is a jupyter notebook embedded in Google Colab.
이것은 *markdown* 형식으로 작성하는 텍스트 cell 입니다.
마크다운은 **편리**합니다.

***DISCLAIMER***

### 1-1. 다음과 같은 변수에 원하는 값들을 할당해보세요.

pr_apple = 사과 하나의 값

n_apple = 사과 개수

pr_orange = 오렌지 하나의 값

n_orange = 오렌지 개수

In [0]:
# 이것은 주석입니다; 1-1. 다음과 같은 변수에 원하는 값들을 할당해보세요.

pr_apple = 1000
n_apple = 2
pr_orange = 
n_orange =

### 1-2. print 함수 내에 위 변수들을 넣어서, 다음과 같이 출력되도록 해보세요.

"An apple is 1000 won, and I bought 5 apples."

"An orange is 500 won, and I bought 10 oranges."

"The total amount of money I spent is 10000 won."

In [0]:
print("An apple is 1000 won, and I bought 5 apples.")
print("An orange is 500 won, and I bought 10 oranges.")
print("The total amount of money I spent is 10000 won.")

### 1-3. 변수에 할당된 값들을 원하는 대로 바꾸어서 다시 위 code cell을 실행해보세요.

In [0]:
pr_apple =
n_apple =
pr_orange =
n_orange =

### 1-4. 수중에 있는 돈이 123,456,789원일 때, 사과를 몇 개 살 수 있고 오렌지를 몇 개 살 수 있는지 다음과 같이 출력해 보세요.

"I have 123456789 won in my pocket."

"I can buy 123000 apples or 246000 oranges."

In [0]:
print("I have 123456789 won in my pocket.")
print("I can buy 123000 apples or 246000 oranges.")

### 1-5. 가게에서 사과를 할인하여 줍니다. 원하는 할인률을 원하는 이름의 변수에 할당하고, 이제 사과를 몇 개 살 수 있는지 다음과 같이 출력해보세요.

"With a discount rate of 30% for apple, now I can buy 176000 apples!"

In [0]:
print("With a discount rate of 30% for apple, now I can buy 176000 apples!")

### 1-6. 변수 pr_orange와 할인율 변수의 데이터 타입은 무엇인지 출력해서 보여주세요. 또한, pr_orange와 할인율 변수를 더한 값의 데이터 타입은 무엇인가요?