<a href="https://colab.research.google.com/github/Chansikan/Python-tutorial/blob/master/Hands_on_Python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SK-learn

In [1]:
# 1. diabetes data 불러오기
import pandas as pd

df = pd.read_csv('diabetes_data.csv')
df = df.loc[:, 'AGE':'Y']
df

     AGE  SEX   BMI      BP  T_chol    LDL   HDL   TSH  lamotrigine  BSL    Y
0     59    2  32.1  101.00     157   93.2  38.0  4.00       4.8598   87  151
1     48    1  21.6   87.00     183  103.2  70.0  3.00       3.8918   69   75
2     72    2  30.5   93.00     156   93.6  41.0  4.00       4.6728   85  141
3     24    1  25.3   84.00     198  131.4  40.0  5.00       4.8903   89  206
4     50    1  23.0  101.00     192  125.4  52.0  4.00       4.2905   80  135
..   ...  ...   ...     ...     ...    ...   ...   ...          ...  ...  ...
437   60    2  28.2  112.00     185  113.8  42.0  4.00       4.9836   93  178
438   47    2  24.9   75.00     225  166.0  42.0  5.00       4.4427  102  104
439   60    2  24.9   99.67     162  106.6  43.0  3.77       4.1271   95  132
440   36    1  30.0   95.00     201  125.2  42.0  4.79       5.1299   85  220
441   36    1  19.6   71.00     250  133.2  97.0  3.00       4.5951   92   57

[442 rows x 11 columns]

In [3]:
# 2. Y를 binary categorical variable로 바꾸기
Y_median = df['Y'].median()
Y_median

140.5

In [4]:
df = df.assign(
    Y_cat = lambda dataframe: dataframe['Y'].map(lambda Y: 1 if Y >= Y_median else 0) 
)
df

     AGE  SEX   BMI      BP  T_chol  ...   TSH  lamotrigine  BSL    Y  Y_cat
0     59    2  32.1  101.00     157  ...  4.00       4.8598   87  151      1
1     48    1  21.6   87.00     183  ...  3.00       3.8918   69   75      0
2     72    2  30.5   93.00     156  ...  4.00       4.6728   85  141      1
3     24    1  25.3   84.00     198  ...  5.00       4.8903   89  206      1
4     50    1  23.0  101.00     192  ...  4.00       4.2905   80  135      0
..   ...  ...   ...     ...     ...  ...   ...          ...  ...  ...    ...
437   60    2  28.2  112.00     185  ...  4.00       4.9836   93  178      1
438   47    2  24.9   75.00     225  ...  5.00       4.4427  102  104      0
439   60    2  24.9   99.67     162  ...  3.77       4.1271   95  132      0
440   36    1  30.0   95.00     201  ...  4.79       5.1299   85  220      1
441   36    1  19.6   71.00     250  ...  3.00       4.5951   92   57      0

[442 rows x 12 columns]

In [5]:
X = df.loc[:, 'AGE':'BSL']
y = df['Y_cat']
print(X)
print(y)

     AGE  SEX   BMI      BP  T_chol    LDL   HDL   TSH  lamotrigine  BSL
0     59    2  32.1  101.00     157   93.2  38.0  4.00       4.8598   87
1     48    1  21.6   87.00     183  103.2  70.0  3.00       3.8918   69
2     72    2  30.5   93.00     156   93.6  41.0  4.00       4.6728   85
3     24    1  25.3   84.00     198  131.4  40.0  5.00       4.8903   89
4     50    1  23.0  101.00     192  125.4  52.0  4.00       4.2905   80
..   ...  ...   ...     ...     ...    ...   ...   ...          ...  ...
437   60    2  28.2  112.00     185  113.8  42.0  4.00       4.9836   93
438   47    2  24.9   75.00     225  166.0  42.0  5.00       4.4427  102
439   60    2  24.9   99.67     162  106.6  43.0  3.77       4.1271   95
440   36    1  30.0   95.00     201  125.2  42.0  4.79       5.1299   85
441   36    1  19.6   71.00     250  133.2  97.0  3.00       4.5951   92

[442 rows x 10 columns]
0      1
1      0
2      1
3      1
4      0
      ..
437    1
438    0
439    0
440    1
441    0
Name: Y_cat, Length: 442, dtype: int64

In [ ]:
# 개념 설명

In [ ]:
# Split the dataset into Train and Test sets
nrow = len(df) # or df.shape[0]
test_ratio = 0.3
n_train = int(nrow * (1-test_ratio))

X_train = df.iloc[:n_train, :-1]
y_train = df.iloc[:n_train, -1]

X_test = df.iloc[n_train:, :-1]
y_test = df.iloc[n_train:, -1]

print('No. of train samples:', len(X_train))
print('No. of test samples:', len(X_test))

In [7]:
# 3. train-test splitting / train-validation splitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, 
                   random_state=0, stratify=y)

print('No of total cases in training / validation sets: {0} / {1}'
      .format(len(X_train), len(X_test)))
print('Proportion of positive cases in training / validation sets: {0:.2f} / {1:.2f}'
      .format(y_train.sum()/len(y_train), y_test.sum()/len(y_test)))

No of total cases in training / validation sets: 309 / 133
Proportion of positive cases in training / validation sets: 0.50 / 0.50

In [18]:
# 4. Standardization
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
# 5. 두 가지 알고리듬의 다양한 세팅 만들어보기
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier

LASSO_1 = LogisticRegression(C=1, penalty='l1', solver='liblinear', 
                                   max_iter=10000, random_state=0)
LASSO_2 = LogisticRegression(C=2, random_state=0)
LASSO_3 = LogisticRegression(C=3, random_state=0)

ADA_1 = AdaBoostClassifier(n_estimators=50, learning_rate=0.1, random_state=0)
ADA_2 = AdaBoostClassifier(n_estimators=70, learning_rate=0.1, random_state=0)
ADA_3 = AdaBoostClassifier(n_estimators=100, learning_rate=0.1, random_state=0)

In [ ]:
# 6. hold-out validation으로 최적의 모델을 만들어 보기
LASSO_1.fit(X_train, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l1',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
from sklearn.metrics import roc_auc_score

y_proba = LASSO_1.predict_proba(X_test)
roc_auc_score(y_test, y_proba[:,1])

0.8317503392130259

In [25]:
# loop
from sklearn.metrics import roc_auc_score

result_dic = {}

model_list = [LASSO_1, LASSO_2, LASSO_3, ADA_1, ADA_2, ADA_3]

for model in model_list:
  model.fit(X_train, y_train)
  y_proba = model.predict_proba(X_test)
  auc = roc_auc_score(y_test, y_proba[:,1])
  result_dic[model] = auc

NameError: ignored

In [27]:
result_dic

"AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.1,\n                   n_estimators=50, random_state=0)"