<a href="https://colab.research.google.com/github/Chansikan/Python-tutorial/blob/master/Tutorial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함께 공부하는 파이썬, 우선 필요한 만큼만!
## Tutorial 1: basic concepts 1

## Contents
- markdown
- how to use GPU on G-Colab, upload data, etc.
- object, name space, variable type
- list
- subsetting
- for loop
- how to import packages
- logistic regression

### Objects and Variables

Python is an object-oriented programming (OOP) language. Everything is an object: variable, function, class, instancem etc. We can name an object as we wish (the concept of name space).

In [0]:
# What happens in a computer when running "print(3)"?
print(3)
print(3+7)

컴퓨터 메모리에 3, 7이 올라오고, 3+7이 계산된 결과가 메모리에 저장된다. 이들 역시 모두 객체(object)이다. 그러나, 이 object를 참조할 방법이 없어서 이제 이 특정 객체들은 나중에 사용할 수 없다.

In [0]:
character_1 = "awesome"
haha_1 = -3
float_1 = -3.1234

여기서 = 은 오른쪽 객체(object)를 왼쪽 변수(variable)에 assign 하라는 의미이다. 파이선에서는 name space라는 것이 있어서, 이 공간에서 변수를 관리한다. 사실 변수라는 것은 특정 개체를 가리키는 이름에 불과한 것 같다. 위 코드를 예를 들면, "awesome"이라는 문자 타입 객체와 character_1이라는 변수명을 연결시키라는 명령이다. 

이러한 assignment, 즉 변수명과 객체를 연결하는 순간에 적절한 name space에 그 변수가 생성되고, 그 변수가 어떠한 객체와 연결되는지에 대한 정보가 저장된다.

In [0]:
print(-3) # 'print' is a function object which here takes -3 as an argument.
print(character_1)
print(awesome) # can you explain this error?

함수(function) 역시 객체이다. 
함수는 괄호 안에 argument라는 것을 받는데, 이것도 객체이다. argument로 받는 객체의 종류에 따라 정해진 작업을 수행한다.

In [0]:
awesome = 12345678
print(awesome)

In [5]:
# see the type of an object
print(type("abc"), type(3), type(-1.5), type(print), type(type))

<class 'str'> <class 'int'> <class 'float'> <class 'builtin_function_or_method'> <class 'type'>

In [6]:
# can you explain the result of the following code?
is_this_an_object_too = print(-3)
print(is_this_an_object_too)

-3
None

In [0]:
print(1, 2, 3, "four")
print("four" + " five", integer_1)

1 2 3 four
four five -3

### List
- definition: 순서, 다양한 오브젝트들
- the concept of method (class -> probably explain later)
- two important methods of 'list' class: append and extend

In [0]:
list_1 = [1, 2, "abcd"] # don't forget comment out!!
list_2 = [1, 2, float_1]

example = {"fruit": ["apple", "orange"],
           "number": [1, 2, 3, 4]}

In [0]:
list_1[-1]

'abcd'

In [0]:
import pandas as pd

main = pd.read_csv("GBM_list.csv")
main.head(8)
column_names = main.columns[3:6]

print(column_names)

for variable in column_names:
  print(variable) 
  # univariate(variable)

Index(['sex', 'Age', 'KPS'], dtype='object')
sex
Age
KPS

In [0]:
print(list_1, list_2)

[1, 2, 'abcd'] [1, 2, -3.1234]

In [0]:
list_1.append("d") 
print(list_1)
list_1.append(list_2)
print(list_1)

[1, 2, 'abcd', 'd']
[1, 2, 'abcd', 'd', [1, 2, -3.1234]]

In [0]:
lists_1_and_2_appended = list_1.append(list_2)

print(lists_1_and_2_appended)
print(list_1)
# can you explain the results?
# the methods "append" and "extend" work "in place"

None
[1, 2, 'abcd', 'd', [1, 2, -3.1234], [1, 2, -3.1234]]

In [0]:
list_1 = [1, 2, "abcd"]
list_2 = [1, 2, float_1]

list_2.extend(list_1)
print(list_2)

[1, 2, -3.1234, 1, 2, 'abcd']

### subsetting

In [0]:
print(list_2)
print(list_2[0])
print(list_2[:2])
print(list_2[-1])
print(list_2[1:3])

[1, 2, -3.1234, 1, 2, 'abcd']
1
[1, 2]
2
[2, -3.1234]

### For loop

In [0]:
for i in [1, 2, 3, 4, 5]:
  print(i) # the concept of variable scope 
           # (Pythonian way; may not be super efficient 
           # but easy to understand and implement, I think)

print(i)

1
2
3
4
5
5

In [0]:
list_1 = [1, 2, "abcd"]

for i in list_1:
  print(i)

1
2
abcd